@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Paytone+One&display=swap')

div
  width: 100%
  height: 7%
  background-color: var(--white)
  display: flex
  align-items: center
  justify-content: center
ul.topbar
  display: flex
  list-style: none
  align-items: center
  justify-content: space-between
  width: 70%
  padding:0
  margin: 0
#logo
  font-family: Paytone One
  font-size: 2rem
  cursor: pointer
#member
  button
    display: flex
    align-items: center
    &:focus
      box-shadow: none
  p
    font-family: Azeret Mono
    font-size: 1.3rem
  .dropdown-item:active
    color: #1D4ED8
    background: #EFF6FF