<div>
  <ul class="topbar">
    <li id="logo"
        routerLink="/pages/news-feed">
        MetaWall
    </li>
    <li id="member">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="" alt="">
          <p>Member</p>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">My Posts</a></li>
          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>