<div class="card-container">
  <div class="card-signup">
    <div class="card-img">
      <img src="assets/img.svg"/>
    </div>
    <div class="form-area">
      <div>
        <h1>MetaWall</h1>
        <p>Sign Up</p>
        <form>
          <input pInputText
                type="text" 
                placeholder="Name"/>
          <!-- <p class="text-danger">
                Name must contain at least two characters.
          </p> -->
          <input pInputText
                type="email" 
                placeholder="Email"/>
          <!-- <p class="text-danger">
              Please enter a valid email.
          </p> -->
          <input pInputText
                type="password"
                autocomplete="on"
                placeholder="Password"/>
          <!-- <p class="text-danger">
              Password length must be greater than 8 characters. 
          </p> -->
          <input pInputText
                type="password"
                autocomplete="on"
                placeholder="Confirm Password"/>
          <!-- <p class="text-danger">
              Password and confirm password must be match. 
          </p> -->
          <p *ngIf="signupFailed"
              class="text-danger">
              Wrong Email or Password!
          </p>
          <ng-container *ngIf="loading; else loginButton">
            <button class="loading">
              <i class="pi pi-spin pi-spinner"></i>
            </button>
          </ng-container>
          <ng-template #loginButton>
            <button (click)="onSignup()">
              Sign Up
            </button>
          </ng-template>
        </form>
        <a routerLink="/login">
          Already have an account? Login here
        </a>
      </div>
    </div>
  </div>
</div>