<div class="card-container">
  <div class="card-signup">
    <div class="card-img">
      <img src="assets/img.svg"/>
    </div>
    <div class="form-area">
      <div>
        <h1>MetaWall</h1>
        <p>Sign Up</p>
        <form [formGroup] = "signupForm">
          <input pInputText
                type="text" 
                placeholder="Name"
                formControlName="name"/>
          <p *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.errors"
              class="text-danger">
              Name must contain at least two characters.
          </p>
          <input pInputText
                type="email" 
                placeholder="Email"
                formControlName="email"/>
          <p *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors"
              class="text-danger">
              Please enter a valid email.
          </p>
          <input pInputText
                type="password"
                autocomplete="on"
                placeholder="Password"
                formControlName="password"/>
          <p *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors"
              class="text-danger">
              Password length must be greater than 8 characters. 
          </p>
          <input pInputText
                type="password"
                autocomplete="on"
                placeholder="Confirm Password"
                formControlName="confirmPassword"/>
          <p *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.hasError('notSame')"
              class="text-danger">
              Password and confirm password must be match. 
          </p>
          <p *ngIf="signupFailed"
              class="text-danger">
              This email has been signed up.
          </p>
          <ng-container *ngIf="loading; else signupButton">
            <button class="loading">
              <i class="pi pi-spin pi-spinner"></i>
            </button>
          </ng-container>
          <ng-template #signupButton>
            <button (click)="onSignup()"
                    [ngClass]="{'disabled': signupForm.status==='INVALID' || confirmError}"
                    [disabled]="signupForm.status==='INVALID' || confirmError">
              Sign Up
            </button>
          </ng-template>
        </form>
        <a routerLink="/login">
          Already have an account? Login here
        </a>
      </div>
    </div>
  </div>
</div>