<div class="content">
  <div class="new-post-area">
    <div class="title">
      Add Post
    </div>
    <div>
      <textarea #postTextarea 
                placeholder="What's new?"></textarea>
      <button class="upload">
        Upload Image
      </button>
      <img src="" alt=""/>
      <button class="submit">
        Submit
      </button>
    </div>
  </div>
  <div class="action-buttons-area">
    <action-buttons></action-buttons>
  </div>
</div>

<mobile-action-buttons class="mobile-action-buttons-area">
</mobile-action-buttons>