.content
  width: 70%
  margin: 0 auto
  display: flex
  justify-content: space-between
  padding: 3rem 0rem 1rem 0rem
.post-area
  width: 65%
  > div.search-bar
    display: flex
    justify-content: space-between
  // input
  .input-group
    margin-left: 1rem
    height: 3rem
    input
      border: none
    .form-control:focus
      border: none
      box-shadow: none
    button
      border: none
      width: 3rem
      height: 3rem
      color: var(--white)
      background-color: var(--blue)
      border-radius: 5px
  // post
  post
    width: 100%
  .no-posts
    color: var(--gray)
    background-color: var(--white)
    width: 100%
    padding: 3rem 1rem
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center
.action-buttons-area
  width: 30%
.mobile-action-buttons-area
  display: none

::ng-deep 
  .p-dropdown, .p-dropdown:not(.p-disabled):hover
    border: none
  .p-dropdown:not(.p-disabled).p-focus
    box-shadow: none

@media only screen and (max-width: 1080px)
  .action-buttons-area
    display: none
  .post-area
    width: 100%
  .mobile-action-buttons-area
    display: unset

@media only screen and (max-width: 414px)
  .content
    width: 90%
  .post-area
    > div.search-bar
      display: block
    .input-group
      margin-top: .5rem
      margin-left: 0rem
  ::ng-deep .p-dropdown
    width: 100%