<div class="search-bar">
  <!-- dropdown -->
  <p-dropdown [options]="orderTypes" 
              [(ngModel)]="selectedOrder"
              optionLabel="label"
              (ngModelChange)="onSearch()">
  </p-dropdown>
  <!-- input -->
  <div class="input-group mb-3">
    <input type="text" 
          class="form-control" 
          placeholder="Search"
          [(ngModel)]="searchInput">
    <button (click)="onSearch()">
      <i class="pi pi-search"></i>
    </button>
  </div>
</div>
<div>
  <ng-container *ngIf="loading; else showPosts">
    <loading></loading>
  </ng-container>
  <ng-template #showPosts>
    <!-- <post *ngFor="let post of posts"
          [post]="post">
    </post>
    <div *ngIf="posts?.length === 0"
          class="no-posts">
      No posts currently. Try to add a new post!
    </div> -->
  </ng-template>
</div>